/* colores */
$blanco: #f6eedb;
$main: #8e9b6d;
$v0: #C2C5A4;
$v1: #74825c;
$v2: #66754c;
$v3: #5a6743;

.content {

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: .5em;
    width: 98%;
    max-height: 85vh;
    /* margin: 0 1em 1em 1em; */
}

.scroller {
    grid-area: 1 / 1 / 4 / 2;
    overflow-y: scroll;
    overflow-x: hidden;

    .profile {
        border: 1px solid $main;
        background-color: $blanco;
        padding: 1em;
        margin-right: 1em;
        margin-bottom: .5em;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .pfp {
            display: flex;

            justify-content: space-around;

            img {
                height: 7em;
                margin-right: 2em;
            }
        }

        .names {

            height: 7em;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            span {
                font-weight: 600;
            }
        }

        .stats {
            span {
                margin: 0 1em;
            }
        }

        .bottom {
            margin-top: 1em;
            display: flex;
            justify-content: space-between;

            .buttons {
                a {
                    background-color: $main;
                    padding: .5em 1em;
                    border-radius: 20px;
                    margin: 0 .5em;
                    text-decoration: none;
                    color: white;
                }

                i {
                    color: white;
                }
            }

            .bio {
                width: 70%;
                word-break: break-word;
            }
        }
    }

    .links {

        background-color: black;
    }

    .posts {
        overflow: initial;
        /* background-color: red; */

    }

}


.sidebar {
    grid-area: 1 / 2 / 4 / 3;

    .recoms,
    .pets {
        background-color: $main;
        padding: .5em;
        margin: .5em;

        .memorial {
            font-size: .7em;
            color: #434343;
        }
    }
}