/* colores */
.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0.5em;
  width: 98%;
  min-height: 90vh;
  max-height: 90vh;
  /* margin: 0 1em 1em 1em; */
}

.scroller {
  grid-area: 1/1/4/2;
  overflow-y: scroll;
  overflow-x: hidden;
}
.scroller .posts {
  flex-direction: column-reverse;
  height: fit-content;
  margin-bottom: 1em;
}
.scroller .profile {
  border: 1px solid #8e9b6d;
  background-color: #f6eedb;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}
.scroller .profile .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.scroller .profile .pfp {
  display: flex;
  justify-content: space-around;
}
.scroller .profile .pfp img {
  height: 7em;
  width: 7em;
  margin-right: 2em;
}
.scroller .profile .names {
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 15em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scroller .profile .names .admin,
.scroller .profile .names .admin i {
  color: #74825c;
}
.scroller .profile .names span {
  font-weight: 600;
}
.scroller .profile .stats span {
  margin: 0 1em;
}
.scroller .profile .bottom {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.scroller .profile .bottom .buttons {
  display: flex;
}
.scroller .profile .bottom .buttons a,
.scroller .profile .bottom .buttons form input {
  background-color: #8e9b6d;
  padding: 0.5em 1em;
  border-radius: 20px;
  margin: 0 0.5em;
  text-decoration: none;
  color: white;
  height: fit-content;
  border: none;
}
.scroller .profile .bottom .buttons i {
  color: white;
}
.scroller .profile .bottom .bio {
  flex: 1;
  max-width: 65%;
  word-break: break-word;
}
.scroller .posts {
  overflow: initial;
  /* background-color: red; */
}

.red {
  background-color: rgb(181, 43, 43) !important;
  height: 100% !important;
  cursor: pointer !important;
}

.sidebar {
  grid-area: 1/2/4/3;
  overflow: scroll;
}
.sidebar .recoms,
.sidebar .pets {
  overflow: hidden;
  border: 2px solid #8e9b6d;
  /* background-color: $main; */
  padding: 0.5em;
  margin: 0.5em;
  text-transform: capitalize;
}
.sidebar .recoms .pet,
.sidebar .pets .pet {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
  padding: 0.3em;
  overflow: hidden;
}
.sidebar .recoms .pet img,
.sidebar .pets .pet img {
  height: 3em;
  width: 3em;
  min-width: 3em;
  min-height: 3em;
  border-radius: 100%;
  margin-right: 0.5em;
}
.sidebar .recoms .memorial,
.sidebar .pets .memorial {
  font-size: 0.7em;
  color: #434343;
}
.sidebar .recoms .memorialpic,
.sidebar .pets .memorialpic {
  filter: grayscale(100%);
}
.sidebar .recoms .pet:hover,
.sidebar .pets .pet:hover {
  background-color: #C2C5A4;
}

/* ajustes */
.container {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.container .editacc {
  grid-area: 1/1/2/2;
  width: 70%;
  height: 80%;
  padding: 1em 1em 2em 2em;
}
.container .editacc h3 {
  color: #5a6743;
}
.container .editacc .form .input textarea {
  width: 100%;
  height: 2em;
}
.container .delacc {
  grid-area: 1/2/2/3;
}
.container .delacc .button {
  background-color: #8e9b6d;
  padding: 0.5em 1em;
  border-radius: 20px;
  margin: 0 0.5em;
  text-decoration: none;
  color: white;
  height: fit-content;
  border: none;
}
.container .manpets {
  grid-area: 2/1/3/3;
  padding: 1em 1em 3em 1em;
  width: 60%;
}
.container .manpets h3 {
  color: #5a6743;
}
.container .manpets .flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container .manpets .flex table,
.container .manpets .flex tr,
.container .manpets .flex th,
.container .manpets .flex td {
  text-align: center;
  border: 1px solid #8e9b6d;
  padding: 1em;
  border-collapse: collapse;
}
.container .manpets .flex table button,
.container .manpets .flex tr button,
.container .manpets .flex th button,
.container .manpets .flex td button {
  background-color: white;
  border: none;
}
.container .manpets .form {
  display: flex;
}
.container .links {
  grid-area: 3/1/4/3;
}

.imgs {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.imgs .pic {
  overflow: hidden;
  cursor: pointer;
  height: 10em;
  width: 31.6666666667%;
  margin: 0 0.5em;
  border: 0.5px solid #8e9b6d;
  margin-bottom: 0.5em;
}
.imgs .pic img {
  height: 100%;
  width: 100%;
}
.imgs .pic img:hover {
  transform: scale(110%);
  transition: 0.3s ease-in-out;
}

#fullimg {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  z-index: 10;
}

#full {
  max-width: 80%;
  z-index: 10;
  max-height: 80%;
}

#close {
  position: absolute;
  top: 3em;
  right: 3em;
  cursor: pointer;
}
#close i {
  color: white;
  font-size: 2em;
}

/*# sourceMappingURL=profile.css.map */
