/* colores */
$blanco: #f6eedb;
$main: #8e9b6d;
$v0: #C2C5A4;
$v1: #74825c;
$v2: #66754c;
$v3: #5a6743;

.content {

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: .5em;
    width: 98%;
    min-height: 80vh;
    max-height: 90vh;
    /* margin: 0 1em 1em 1em; */
}

.scroller {
    grid-area: 1 / 1 / 4 / 2;
    overflow-y: scroll;
    overflow-x: hidden;

    .profile {
        border: 1px solid $main;
        background-color: $blanco;
        padding: 1em;
        margin-right: 1em;
        margin-bottom: .5em;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .pfp {
            display: flex;

            justify-content: space-around;

            img {
                height: 7em;
                margin-right: 2em;
            }
        }

        .names {

            height: 7em;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .admin,
            .admin i {
                color: $v1;
            }

            span {
                font-weight: 600;
            }
        }

        .stats {
            span {
                margin: 0 1em;
            }
        }

        .bottom {
            margin-top: 1em;
            display: flex;
            justify-content: space-between;
            align-content: center;

            .buttons {
                display: flex;

                a,
                form input {
                    background-color: $main;
                    padding: .5em 1em;
                    border-radius: 20px;
                    margin: 0 .5em;
                    text-decoration: none;
                    color: white;
                    height: fit-content;
                    border: none;
                }

                i {
                    color: white;
                }
            }

            .bio {
                flex: 1;
                max-width: 65%;
                word-break: break-word;
            }
        }
    }


    .posts {
        overflow: initial;
        /* background-color: red; */

    }

}

.red {
    background-color: rgb(181, 43, 43) !important;
    height: 100% !important;
    cursor: pointer !important;
}


.sidebar {
    grid-area: 1 / 2 / 4 / 3;

    .recoms,
    .pets {
        background-color: $main;
        padding: .5em;
        margin: .5em;
        text-transform: capitalize;

        .memorial {
            font-size: .7em;
            color: #434343;
        }
    }
}

/* ajustes */
.container {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;

    .editacc {
        grid-area: 1 / 1 / 2 / 2;
        width: 70%;
        height: 80%;
        padding: 1em 1em 2em 2em;

        h3 {
            color: $v3;
        }

        .form .input textarea {
            width: 100%;
            height: 2em;
        }
    }

    .delacc {
        grid-area: 1 / 2 / 2 / 3;

        .button {
            background-color: $main;
            padding: .5em 1em;
            border-radius: 20px;
            margin: 0 .5em;
            text-decoration: none;
            color: white;
            height: fit-content;
            border: none;
        }
    }

    .manpets {
        grid-area: 2 / 1 / 3 / 3;
        padding: 1em 1em 3em 1em;
        width: 60%;

        h3 {
            color: $v3;
        }

        .flex {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-evenly;

            table,
            tr,
            th,
            td {
                text-align: center;
                border: 1px solid $main;
                padding: 1em;
                border-collapse: collapse;

                button {
                    background-color: white;
                    border: none;
                }
            }
        }

        .form{
            display: flex;
        }

    }

    .links {
        grid-area: 3 / 1 / 4 / 3;
    }
}


.imgs {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;

    img {
        width: calc(95%/3);
        margin: 0 .5em;
        border: .5px solid $main;
        margin-bottom: .5em;
    }

    img:hover {
        transform: scale(110%);
        transition: .3s ease-in-out;
    }
}